.backgroundImageMap {
  width: 100%;

  height: 650px;

  position: relative;
  z-index: 1;
}

.characterMain {
  position: absolute;
  top: 200px;
  z-index: 5;

  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 100%;
}

.characterContainer {
  position: relative;
}

.characterImage {
  width: 400px;
  margin: 0rem;
}

.characterName {
  position: absolute;
  top: 20px;
  left: -90px;

  margin: 0px;

  font-size: 50px;
  font-family: 'Valorant';

  color: rgb(249,249,249);
}

.characterRole {
  position: absolute;
  top: 55px;
  left: -90px;

  font-size: 20px;
  font-family: 'Couture';

  color: rgb(249,249,249);
}


.randomButton {
  font-family: 'Couture';
  font-size: 14px;
  color: rgb(249,249,249);
  background-color: transparent;


  padding: 1.3rem 1.8rem 1.3rem 1.8rem;

  border-style: solid;
  border-color: white;
  border-width: 0.05px;

  cursor: pointer;

  transition-duration: 0.5s;

}

.randomButton:hover {
  background-color: black;
}

.randomButtonMarginRight {
  margin-right: 1rem;
}
.gunTitle {
  color: rgb(249,249,249);

  font-family: 'Couture';

  font-size: 35px;
}

.gunImageContainer {
  display: inline-block;
  padding: 3rem;
  border-style: solid;
  border-width: 0.05rem;
  border-radius: 2rem;
  border-color: rgba(255,70,86,1);

  height: 100px;

  background-color: transparent;

}
.gunImage {
  width: 300px;
}

.missionTitle {
  color: rgb(249,249,249);

  font-family: 'Couture';

  font-size: 35px;
}

.missionDescription {
  color: rgb(249,249,249);

  font-family: 'Couture';

  width: 300px;
}