@media screen and (min-width: 0px) and (max-width: 1439px) {
  .ValorantRandomizerScreen {
    display: none;
  }
}

@media screen and (min-width: 1440px) {

  .ValorantRandomizerScreenNotShowing {
    display: none;
  }
  html,
  body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

    position: relative;
  }

  * {
    box-sizing: content-box;
  }

  .nav {

    width: auto;
    padding: 2rem 2rem 4rem 2rem;

    /*
    Parent Div's Width = Child Div's Width + Padding + Border + Width
    1440px = width: auto, so () + (16px + 16px) + 0px + 0px
    */

    color: rgb(249,249,249);
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(1,1,29,1) 53%, rgba(255,70,86,1) 100%);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .nav__logoTitleContainer {
    display: flex;
    flex-direction: row;
  }
  .nav__logo {
    width: 30px;

    margin-right: 1rem;
  }

  .nav__title {
    font-family: "Valorant";
    font-size: 30px;
    margin-block: 10px;

    transition-duration: 1.5s;

    cursor: pointer;
  }

  .nav__title:hover {
    color: rgb(235,78,92);
  }

  .nav__motto {
    font-family: "Couture";
    margin-top: 0rem;
    font-size: 10px;

    margin-left: 3rem;
  }

  .nav__link {
    font-family: "Couture";
    color: white;
    text-decoration: none;
    transition-duration: 1.5s;
  }

  .nav__link--marginRight {
    margin-right: 1.3rem;
  }

  .nav__link:hover {
   color: rgba(2,0,36,1);
  }
}