@media screen and (min-width: 0px) and (max-width: 1023px) {
  .ValorantRandomizerScreen {
    display: none;
  }
}

@media screen and (min-width: 1024px) {

  .ValorantRandomizerScreenNotShowing {
    display: none;
  }

  .ValorantRandomizerScreen {
    display: flex;
    flex-direction: column;
  }

  html,
  body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
      Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

    position: relative;

    background-color: rgb(15, 15, 15);
  }

  * {
    box-sizing: content-box;
  }

  .nav {

    width: auto;
    padding: 2rem 2rem 4rem 2rem;

    /*
    Parent Div's Width = Child Div's Width + Padding + Border + Width
    1440px = width: auto, so () + (16px + 16px) + 0px + 0px
    */

    color: rgb(249,249,249);
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(1,1,29,1) 53%, rgba(255,70,86,1) 100%);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .nav__logoTitleContainer {
    display: flex;
    flex-direction: row;
  }
  .nav__logo {
    width: 30px;

    margin-right: 1rem;
  }

  .nav__title {
    font-family: "Valorant";
    font-size: 30px;
    margin-block: 10px;

    transition-duration: 1.5s;

    cursor: pointer;

    color: rgba(255,70,86,1);
  }


  .nav__motto {
    font-family: "Couture";
    margin-top: 0rem;
    font-size: 10px;

    margin-left: 3rem;
  }

  .nav__link {
    font-family: "Couture";
    color: white;
    text-decoration: none;
    transition-duration: 1.5s;
  }

  .nav__link--marginRight {
    margin-right: 1.3rem;
  }

  .nav__link:hover {
   color: rgba(2,0,36,1);
  }

  
  .footer {
    padding: 3rem 2rem 1.5rem 2rem;
  }

  .createdByStatement {
    font-size: 14px;
    color: rgb(172, 172, 172);

    font-weight: 400;
  }

  .disclaimerStatement {
    color: rgb(172, 172, 172);
    font-size: 12px;

    font-weight: 400;
  }

  .partnershipSection {
    margin-top: 3rem;
  }
  
  .partnershipSection__title {
    color: rgb(172, 172, 172);
    font-size: 14px
  }

  .partnerList {
    display: flex;
    flex-direction: row;
  }

  .partner__link {
    text-decoration: none;
  }

  .partner {
    background-color: rgb(70,70,73);
    border-radius: 1rem;
    padding: 0.4rem;
    margin-right: 1rem;

    cursor: pointer;


  }

  .partner__img_and_name {
    display: flex;
    align-items: center;
  }

  .partner:hover {
    background-color: rgb(45, 45, 45);
  }

  .partner__img {
    width: 40px;
    margin-right: 0.7rem;
  }

  .partner_name {
    color: rgb(172, 172, 172);
    font-size: 12px;
    text-decoration: none;
  }
}