
@media screen and (min-width: 1024px) {
  .mapName {
    font-family: 'Couture';
    font-size: 30px;
    color: rgb(236,231,225);
  }

  .backgroundImageMap {
    width: 100%;
  
    height: 650px;
  
    position: relative;
    z-index: 1;
  }
  
  .body {
    position: absolute;
    z-index: 5;
    top: 172px;

  
    display: flex;
    flex-direction: row;
  
    width: 100%;
    justify-content: center;

  
    margin-top: 2rem;
  }
  
  .leftSection {
    margin-right: 1rem;
  }
  
  .mapImageContainer {
    border-style: solid;
    border-width: 0.1rem;
    border-color: rgb(235,78,92);
  }
  
  .mapImage {
    width: 270px;
    height: 160px;
    margin: 0.3rem;
  }
  
  .mapName {
    font-family: 'Couture';
    font-size: 30px;
    color: rgb(236,231,225);
  }
  
  .chosenCharacterContainer {
    text-align: center;
    height: 383.305px;
  
    margin-bottom: 1.5rem;
  }
  
  .chosenCharacter {
    width: 250px;
  }
  
  .characterSelection {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto ;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
  }
  
  .characterContainer {
    border-style: solid;
    border-width: 0.05rem;
  }

  .characterImage {
    width: 65px;
  }
  
  .rollYourCharacterButton {
    color: rgb(236,232,225);
    background-image: linear-gradient(to right, rgb(182, 52, 63), rgb(255,70,86), rgb(97, 66, 66));
  
    font-family: 'Couture';
  
    padding: 0.8rem 1rem 0.8rem 1rem;
    border: none;
  
    display: block;
  
    margin-top: 11rem;
  
    cursor: pointer;
  
    transition: background-position 1s ease-out;  
  
  }
  
  .rollYourCharacterButton:hover {
    background-position:230px;
  }
}

@media screen and (min-width: 1126px) {
  .body {
    left: 0px;
  }
  .leftSection {
    margin-right: 6rem;
  }
}

@media screen and (min-width: 1270px) {
  .characterSelection {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
  }
}
@media screen and (min-width: 1300px) {
  .leftSection {
    margin-right: 8rem;
  }
}
@media screen and (min-width: 1440px) {
  .body {
    left: 0px;
  }

  .leftSection {
    margin-right: 8rem;
  } 

  .characterSelection {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
  }

  .characterImage {
    width: 70px;
  }
}

@media screen and (min-width: 1550px) {
  .mapImage {
    width: 330px;
    height: auto;
    margin: 0.6rem;
  }

  .mapName {
    font-size: 35px;
  }

  .rollYourCharacterButton {
    font-size: 18px;
    padding: 1rem 1.3rem 1rem 1.3rem;
  }

  .rollYourCharacterButton:hover {
    background-position: 310px;
  }

  .leftSection {
    margin-right: 10rem;
  }
}

@media screen and (min-width: 1850px) {
  .mapImage {
    width: 360px;
    height: auto;
    margin: 0.6rem;
  }

  .mapName {
    font-size: 38px;
  }

  .leftSection {
    margin-right: 13rem;
  }
  
  .chosenCharacterContainer {
    margin-bottom: 2.3rem;
  }
  .chosenCharacter {
    width: 270px;
  }
}