
.backgroundImageMap {
  width: 100%;

  position: relative;
  z-index: 1;
}

.body {
  position: absolute;
  z-index: 5;
  top: 172px;

  display: flex;
  flex-direction: row;

  width: 100%;
  justify-content: center;

  margin-top: 2rem;
}

.leftSection {
  margin-right: 2rem;
}

.mapImageContainer {
  border-style: solid;
  border-width: 0.1rem;
  border-color: rgb(235,78,92);
}

.mapImage {
  width: 270px;
  margin: 0.3rem;
}

.mapName {
  font-family: 'Couture';
  font-size: 30px;
  color: rgb(236,231,225);
}

.dropDown {
  font-family: 'Couture';
}

.dropDownControl {
  color: white;
  background-color: transparent;
}





.characterSelection {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  column-gap: 0.5rem;
  row-gap: 1rem;
}