
.backgroundImageMap {
  width: 100%;

  position: relative;
  z-index: 1;
}

.body {
  position: absolute;
  z-index: 5;
  top: 172px;

  display: flex;
  flex-direction: row;

  width: 100%;
  justify-content: center;

  margin-top: 2rem;
}

.leftSection {
  margin-right: 8rem;
}

.mapImageContainer {
  border-style: solid;
  border-width: 0.1rem;
  border-color: rgb(235,78,92);
}

.mapImage {
  width: 270px;
  margin: 0.3rem;
}

.mapName {
  font-family: 'Couture';
  font-size: 30px;
  color: rgb(236,231,225);
}

.dropDown {
  font-family: 'Couture';
}

.dropDownControl {
  color: white;
  background-color: transparent;
}

.chosenCharacterContainer {
  text-align: center;
  height: 383.305px;
}

.chosenCharacter {
  width: 250px;
}

.characterSelection {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
}

.characterContainer {
  border-style: solid;
  border-width: 0.05rem;

}
.characterImage {
  width: 75px;
}

.rollYourCharacterButton {
  color: rgb(236,232,225);
  background-image: linear-gradient(to right, rgb(182, 52, 63), rgb(255,70,86), rgb(97, 66, 66));

  font-family: 'Couture';

  padding: 0.8rem 1rem 0.8rem 1rem;
  border: none;

  display: block;
  margin-inline: auto;
  margin-top: 11rem;

  cursor: pointer;

  transition: background-position 1s ease-out;  

}

.rollYourCharacterButton:hover {
  background-position:204px; 
}