
.backgroundImageMap {
  width: 100%;

  position: relative;
  z-index: 1;
}

.body {
  position: absolute;
  z-index: 5;
  top: 172px;
}

.mapImageContainer {
  border-style: solid;
  border-width: 0.1rem;
  border-color: rgb(235,78,92);
}

.mapImage {
  width: 250px;
  margin: 0.5rem;
}

.mapName {
  font-family: 'Couture';
  font-size: 30px;
  color: rgb(236,231,225);
}

.dropDown {
  font-family: 'Couture';
}

.dropDownControl {
  color: white;
  background-color: transparent;
}
