.backgroundImage {
  position: relative;
}

.shareYourIdeasContainer {
  position: absolute;
  top: 190px;
  width: 100%;
}

.shareYourIdeas {
  display: block;
  margin-inline: auto;

  width: 50%;
  padding: 0.5rem 3rem 3rem 3rem;

  font-family: 'Arial';
  text-align: center;

  color: rgba(43, 40, 40, 1);
  background-color: rgba(255, 255, 255, 0.7);

  border-style: solid;
  border-color: black;
  border-width: 0.05rem;

  border-radius: 20px;;
}

.shareYourIdeasTitle {
  font-size: 45px;
  margin-bottom: 1rem;
}
.shareYourIdeasDescription {
  font-size: 25px;
  font-weight: 400;

  line-height: 2.5rem;
}

.shareYourIdeasDescription2 {
  font-size: 18px;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.gmail {
  font-weight: bold;
}